<?xml version="1.0" encoding="gb2312"?>
<root>
<global_server>
    <default_dbname value="TestMysqlSagesRobotDB"/>
</global_server>
<mysql_local>
	<host value="localhost"/>
	<port value="3306"/>
	<user value="Your Name"/>
	<password value="Your Password"/>
	<datadb value="TestMysqlSagesRobotDB"/>
</mysql_local>
<mysql_remote1>
	<host value="139.198.191.145"/>
	<port value="3306"/>
	<user value="Your Name"/>
	<password value="Your Password"/>
	<datadb value="TestMysqlSagesRobotDB"/>
</mysql_remote1>
</root>
